*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color:#21bed3;
    display: grid;
    place-items: center;
}

.game-info {
    color: black;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #edfc1a;
    padding: 0.5rem 3rem;
    text-align: center;
    border-radius: 20px;
    font-weight: 900;
}

.tic-tac-toe {
    width: 90%;
    max-width: 20rem;
    background-color: #edfc1a;
    border-radius: 1rem;
    border: 5px solid green;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
    
}

.box {
    position: relative;
    width: 100%;
    cursor: pointer;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 ,.box2 ,.box4,.box5{
    border-right: 2px solid green;
    border-bottom: 2px solid green;;
}

.box3 , .box6{
    border-bottom: 2px solid green;
}
.box7,.box8{
    border-right: 2px solid green;
}
.btn {
    display: flex;
    color:black;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    background-color: #edfc1a;
    transform:translateX(-50%);
    border-radius: 1rem;
    border: 1px solid green;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: 900;

}

.btn.active {
    display: flex;
}

.win {
    background-color: rgba(0, 128, 0, 0.425);
}